---
Checks: >
  *,
  -abseil-*,
  -altera-*,
  -android-*,
  -boost-*,
  -bugprone-easily-swappable-parameters,
  -concurrency-*,
  -cppcoreguidelines-*,
  -google-objc-*,
  -google-readability-todo,
  -hicpp-*,
  -llvmlibc-*,
  -modernize-*,
  -objc-*,
  -openmp-*,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-math-missing-parentheses,
WarningsAsErrors: "*"
FormatStyle: file
HeaderFilterRegex: ".*"
HeaderFileExtensions: [h]
ImplementationFileExtensions: [c]
---

